<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>edu.berkeley.eecs.openwsn.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/openwsncharts/greet</url-pattern>
  </servlet-mapping>
  
 


<display-name>addstats</display-name>
  <servlet>
    <servlet-name>OPENWSN Stats REST Service</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>edu.berkeley.eecs.openwsn.server</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>OPENWSN Stats REST Service</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>

 <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>OpenWSNCharts.html</welcome-file>
  </welcome-file-list>


</web-app>
